.swap-main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* overflow-y: hidden; */
    min-height: 100vh;
    padding: 0px 35px 35px 29px;
}
.swap-main-bottom-div{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 140px;
}


@media screen and (max-width:765px) {
    .swap-main-bottom-div{
        padding: 0px 25px 35px 25px;
    }
    .swap-main-bottom-div{
    margin-top: 100px;
}
}