.swap-main-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.swap-main-bottom-div{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 35px 35px 29px;
}


@media screen and (max-width:765px) {
    .swap-main-bottom-div{
        padding: 0px 25px 35px 25px;
    }
}