.no-user-main-container{
    width: 100%;
    height: 100vh;
}
.no-user-main-div{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
}
.inner-no-user-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.inner-no-user-div h2{
    font-family: Poppins;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: white;  
}
.gradient-mask {
    background: linear-gradient(91.26deg, #1201FF 0%, #C597FD 100%);
    -webkit-mask-image: url(/public/Pictures/NoUserTransaction.svg);
    mix-blend-mode: multiply;
    -webkit-mask-mode:luminance;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
  
    mask-image: url(/public/Pictures/NoUserTransaction.svg);
    mask-mode: luminance;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  
    width: 250px;
    height: 250px;
  }
  
  @media screen and (max-width:670px) {
    .inner-no-user-div h2{
        font-size: 22px;
    }
    .no-user-main-container{
          overflow: hidden;
    }
  }