.no-user-main-div{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
}
.img-div{
    background: url(/public/Pictures/NoUserTransaction.svg) , linear-gradient(91.26deg, #1201FF 0%, #C597FD 100%);    ;
    background-position: center;
    background-blend-mode: hue;
}