.main-1{
    max-width: 100%;
      display: flex;
      overflow: hidden;
      position: relative;
  }
  .second-circle-shadow{
      position:fixed;
      width: 689px;
      height: 689px;
      bottom: -100px;
      left: 848px;
      border-radius: 50%;
      background: url(/public/Pictures/color-1.svg);
      background-repeat: none;
      background-position: center;
      background-size: cover;
  }
    
    .second-circle-shadow img{
      width: 313px;
      height: 313px;
    position: absolute;
     top: 50%;
    left: 50%;
    transform:translate(-50% , -50%);
    }

     @media screen and (max-width:1300px) {
         .second-circle-shadow{
            position:fixed;
            width: 589px;
            height: 589px;
            bottom: -150px;
            left: 748px;
  }
    
    .second-circle-shadow img{
      width: 250px;
      height: 250px;
    }
     }

          @media screen and (max-width:1100px) {
         .second-circle-shadow{
            position:fixed;
            width: 589px;
            height: 589px;
            bottom: -150px;
            left: 570px;
  }
     }


     
          @media screen and (max-width:920px) {
         .second-circle-shadow{
            position:fixed;
            width: 589px;
            height: 589px;
            bottom: -150px;
            left: 400px;
  }
     }



               @media screen and (max-width:770px) {
         .second-circle-shadow{
            position:fixed;
            width: 489px;
            height: 489px;
            bottom: -150px;
            left: 390px;
  }
       .second-circle-shadow img{
      width: 200px;
      height: 200px;
    }
     }



    @media screen and (max-width:550px) {
         .second-circle-shadow{
            position:fixed;
            width: 389px;
            height: 389px;
            bottom: -100px;
            left: 150px;
  }
       .second-circle-shadow img{
      width: 150px;
      height: 150px;
    }
    }
        @media screen and (max-width:420px) {
         .second-circle-shadow{
            position:fixed;
            width: 389px;
            height: 389px;
            bottom: -100px;
            left: 130px;
  }
    }
            @media screen and (max-width:420px) {
         .second-circle-shadow{
            position:fixed;
            width: 389px;
            height: 389px;
            bottom: -100px;
            left: 70px;
  }
    }