.main-data-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}
.header-div{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 35px 60px 0px 0px;
}
.header-div h2{
    font-family: Poppins;
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);    
}

@media screen and (max-width:1300px) {
 .header-div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 35px 60px 0px 100px;
  z-index: 1001; /* Ensure it's above other elements */
  background-color: rgba(0, 0, 0, 0.4); /* Or a solid color for clarity */
  backdrop-filter: blur(10px); /* Optional if using blur effect */
}
}


@media screen and (max-width:765px) {
    .header-div{
        padding: 40px 25px 0px 60px !important;
    }
    .main-data-section{
        padding: 0px 25px 40px 25px;
    }
    .header-div h2{
        font-size: 20px;
    }
}