.main-container-d{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.sb-main-container-d{
    max-width: 284px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.User-pic-div{
    background: linear-gradient(91.26deg, #1201FF 0%, #C597FD 100%);
    -webkit-mask-image: url(/public/Pictures/NoUser.svg);
    mix-blend-mode: multiply;
    -webkit-mask-mode:luminance;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
  
    mask-image: url(/public/Pictures/NoUser.svg);
    mask-mode: luminance;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  
    width: 250px;
    height: 250px;
  }
.sb-main-container-d h2{
    font-family: Poppins;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
