.sign-in-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
}
.sign-in-inner-div{
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.first-circle-shadow{
    position: absolute;
    width: 313px;
    height: 313px;
    top: 0;
    left: -1px;
    border-radius: 50%;
    background: linear-gradient(92.24deg, #1201FF 0%, #C597FD 120.64%);
    filter: blur(100px);
    opacity: 0.4;
}
.second-circle-shadow-2{
    position: absolute;
    width: 689px;
    height: 689px;
    top: 518px;
    right: 40px;
    border-radius: 50%;
    background: linear-gradient(92.24deg, #1201FF 0%, #C597FD 120.64%);
    filter: blur(100px);
    opacity: 0.4;
    z-index: 0;
  }
  
  .second-circle-shadow-2 img{
    width: 413px;
    height: 413px;
    z-index: 1;
    color: rgba(255, 255, 255, 0.03);
  }
.logo-img{
    width: 277px;
}
.sign-in-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 20px;
    gap: 30px;
    padding: 40px 0px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.02);
}
.sign-in-box p{
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    margin:0;
}
.input-section-div{
    padding: 0px 45px;
    display: flex;
    flex-direction: column;
}
.input-section-div label{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(106, 132, 160, 1);
    margin: 0;
}
.input-section-div input{
    padding: 17.5px 16px;
    border-radius: 15px;
    outline: none;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(70px);
    margin: 0;
    color: white;
} 
.icon-d{
    position: relative;
}
.icon-d input{
    width: 100%;
}
.toggle-btn{
    position: absolute;
    top: 17.5px;
    right: 14px;
    background: none;
    display: flex;
    align-content: center;
    width: 20px;
    height: 100%;
}
.icon-d .fa-solid{
    width: 20px;
    height: 20px;
    color: white
}
.sign-in-btn{
    outline: none;
    background: none;
    border: none;
    margin: 0 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    padding: 16px;
    color: white;
    background: linear-gradient(91.26deg, #1918D7 0%, #731BCC 75.5%);
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.sign-in-btn a{
    text-decoration: none;
    color: white;
}


@media screen and (max-width:1340px) {
    .sign-in-container {
        padding: 0 60px;
    }
    .sign-in-inner-div{
    gap: 20px;
}
}


@media screen and (max-width:960px) {
    .sign-in-container{
        padding: 50px 150px 50px 150px;
        overflow: hidden;
    }
    .first-circle-shadow{
        position: absolute;
        width: 200px;
        height: 200px;
        filter: blur(60px);
        opacity: 0.4;
    }
    .second-circle-shadow-2{
        position: absolute;
        width: 250px;
        height: 250px;
        top: 313px;
        right: 0px;
        filter: blur(60px);
        opacity: 0.4;
      }
}
@media screen and (max-width:660px) {
    .sign-in-container{
        padding: 0px 25px;
    }
    .sign-in-inner-div{
        gap: 10px;
    }
    .first-circle-shadow{
        position: absolute;
        width: 100px;
        height: 100px;
        filter: blur(20px);
        opacity: 0.4;
    }
    .second-circle-shadow-2{
        position: absolute;
        width: 300px;
        height: 300px;
        top: 400px;
        right: -50px;
        filter: blur(40px);
        opacity: 0.4;
      }
      .logo-img{
        width: 200px;
    }
      .sign-in-box{
        width: 100%;
        gap: 10px;
        padding: 20px 0px;
    }
    .sign-in-box p{
        font-size: 24px;
    }
    .input-section-div{
        padding: 0px 25px;
    }
    .input-section-div label{
        font-size: 12px;
    }
    .input-section-div input{
        padding: 13.5px 7px;
    } 
    .sign-in-btn{
        margin: 0 25px;
        padding: 12px;
        font-size: 12px;
    }
}