.sign-in-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
}
.sign-in-inner-div{
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.first-circle-shadow{
    position: absolute;
    width: 313px;
    height: 313px;
    top: 0;
    left: -1px;
    border-radius: 50%;
    background: linear-gradient(92.24deg, #1201FF 0%, #C597FD 120.64%);
    filter: blur(100px);
    opacity: 0.4;
}
.second-circle-shadow-2{
    position: absolute;
    width: 689px;
    height: 689px;
    bottom: -177px;
    left: 848px;
    /* right: -20px; */
    border-radius: 50%;
    background:url(/public/Pictures/color-1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .second-circle-shadow-2 img{
    position: absolute;
     top: 50%;
    left: 50%;
    transform:translate(-50% , -50%);
    width: 313px;
    height: 313px;
  }
  .second-circle-shadow-2{
    position: absolute;
    width: 689px;
    height: 689px;
    bottom: -177px;
    left: 848px;
    border-radius: 50%;
    background:url(/public/Pictures/color-1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .second-circle-shadow-2 img{
    position: absolute;
     top: 50%;
    left: 50%;
    transform:translate(-50% , -50%);
    width: 313px;
    height: 313px;
    /* filter: blur(20px);
    opacity: 0.3; */
  }
.logo-img{
    width: 257px;
}
.sign-in-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 20px;
    gap: 30px;
    padding: 40px 0px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.02);
}
.sign-in-box p{
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    margin:0;
}
.input-section-div{
    padding: 0px 45px;
    display: flex;
    flex-direction: column;
}
.input-section-div label{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(106, 132, 160, 1);
    margin: 0;
}
.input-section-div input{
    padding: 17.5px 16px;
    border-radius: 15px;
    outline: none;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.02);
     color: rgba(106, 132, 160, 1);
} 
.input-section-div input::placeholder{
       color: rgba(106, 132, 160, 1);
} 
.icon-d{
    position: relative;
}
.icon-d input{
    width: 100%;
}
.toggle-btn{
    position: absolute;
    top: 17.5px;
    right: 14px;
    background: none;
    display: flex;
    align-content: center;
    width: 20px;
    height: 100%;
}
.icon-d .fa-solid{
    width: 20px;
    height: 20px;
     color: rgba(106, 132, 160, 1);
}
.sign-in-btn{
    outline: none;
    background: none;
    border: none;
    margin: 0 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    padding: 16px;
    color: white;
    background: linear-gradient(91.26deg, #1918D7 0%, #731BCC 75.5%);
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.sign-in-btn a{
    text-decoration: none;
    color: white;
}


@media screen and (max-width:1340px) {
    /* .logo-img{
    width: 230px;
} */
    .sign-in-container {
        padding: 0 60px;
    }
    .sign-in-inner-div{
    gap: 20px;
}
.sign-in-box{
    gap: 20px;
    padding: 40px 0px;
}
.input-section-div input{
    padding: 13.5px 16px;
} 
.second-circle-shadow-2{
        width: 589px;
        height: 589px;
        bottom: -177px;
        left: 748px;
  }  
  
  .second-circle-shadow-2 img{
    width: 230px;
    height: 230px;
  }
}


@media screen and (max-width:660px) {
    .sign-in-container{
        padding: 0px 25px;
    }
    .sign-in-inner-div{
        gap: 20px;
    }
    .first-circle-shadow{
        position: absolute;
        width: 50px;
        height: 50px;
        filter: blur(20px);
        opacity: 0.4;
    }
      .logo-img{
        width: 200px;
    }
      .sign-in-box{
        width: 100%;
        gap: 10px;
        padding: 20px 0px;
    }
    .sign-in-box p{
        font-size: 24px;
    }
    .input-section-div{
        padding: 0px 25px;
    }
    .input-section-div label{
        font-size: 12px;
    }
    .input-section-div input{
        padding: 13.5px 7px;
    } 
    .sign-in-btn{
        margin: 0 25px;
        padding: 12px;
        font-size: 12px;
    }
}


          @media screen and (max-width:1100px) {
         .second-circle-shadow-2{
            position:fixed;
            width: 589px;
            height: 589px;
            bottom: -150px;
            left: 570px;
  }
     }


     
          @media screen and (max-width:920px) {
         .second-circle-shadow-2{
            position:fixed;
            width: 589px;
            height: 589px;
            bottom: -150px;
            left: 400px;
  }
     }



               @media screen and (max-width:770px) {
         .second-circle-shadow-2{
            position:fixed;
            width: 489px;
            height: 489px;
            bottom: -150px;
            left: 390px;
  }
       .second-circle-shadow-2 img{
      width: 200px;
      height: 200px;
    }
     }



    @media screen and (max-width:550px) {
         .second-circle-shadow-2{
            position:fixed;
            width: 389px;
            height: 389px;
            bottom: -100px;
            left: 150px;
  }
       .second-circle-shadow-2 img{
      width: 150px;
      height: 150px;
    }
    }
        @media screen and (max-width:420px) {
         .second-circle-shadow-2{
            position:fixed;
            width: 389px;
            height: 389px;
            bottom: -100px;
            left: 100px;
  }
    }

            @media screen and (max-width:330px) {
         .second-circle-shadow-2{
            position:fixed;
            width: 389px;
            height: 389px;
            bottom: -100px;
            left: 50px;
  }
    }